*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
#app{
  height: 100%;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
.clearfix::after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}
